<nav class="navigation __p __center">
    <h1>OpenConf</h1>
    <div>
        <a href="/">Home</a>
        {{#if user}}
        <a href="/profile">Profile</a>
        <a href="/logout">Log out</a>
        {{else}}
        <a href="/login">Log in</a>
        {{/if}}
    </div>
</nav>

<style>
    .navigation div a {
        display: inline-block;
        margin-bottom: 40px;
        padding: 0 9px;
    }
</style>