<nav class="navigation __p __center">
    <h1>OpenConf</h1>
    <div>
        <a href="/" class="{{#if isHome}}current{{/if}}">Home</a>
        {{#if user}}
        <a href="/profile" class="{{#if isProfile}}current{{/if}}">Profile</a>
        <a href="/logout" data-turbolinks="false">Log out</a>
        {{else}}
        <a href="/login" class="{{#if isLogin}}current{{/if}}">Log in</a>
        {{/if}}
    </div>
</nav>

<style>
    .navigation a {
        border-bottom: 2px solid transparent;
        display: inline-block;
        margin: 0 5px 40px;
        padding: 3px 9px;
    }

    .navigation a.current {
        border-bottom-color: #9b4dca;
    }
</style>