<div class="person">
    <h2>{{user.username}}</h2>
    <div data-controller="hello">
        <input data-target="hello.name" value="test" type="text">
        <button data-action="click->hello#greet">Greet</button>
    </div>
    <div>User id {{user.userId}}!!</div>
</div>