{{> head title="Login" }}

<form action="/login" method="POST">
  {{#if error}}
  <div>{{ error }}</div>
  {{/if}}
  <input type="text" name="username" placeholder="username" value="alex" />
  <button type="submit">Login</button>
</form>

{{> footer }}