<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Your profile</title>
  <script src="/bundle.js"></script>
</head>

<body>
  {{> navigation }}
  <div>Your username: {{ user.username }}</div>
</body>

</html>